<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- l-m.dev 2022 -->
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>s.l-m.dev</title>

    <meta content="s.l-m link shortener" property="og:title" />
    <meta content="A lightweight and fast link shortener + plaintext store" property="og:description" />
    <meta content="https://s.l-m.dev" property="og:url" />
    <meta content="#e2c2fc" data-react-helmet="true" name="theme-color" />

    <link rel="icon" type="image/x-icon" href="https://public.l-m.dev/assets/branding/favicon.ico">

    <script type="module" crossorigin src="/assets/index.8078656f.js"></script>
    <link rel="stylesheet" href="/assets/index.30af8ae8.css">
  </head>
  <body>
    <div id="app"></div>
    

    <main class="grid">
        
      <div class='line'>

          <form id="entry" role="search">
              <input type="search" id="query" name="inputapply" value=""
                  placeholder="https://">
          </form>
          <br>

          <form id="check">
              <p style="color:rgb(116, 204, 255)">Expire?</p>
              <label for="ch1">No expiry</label>
              <input class='radiocheck' name="rb" type="radio" id="ch1" value="none" checked="checked">
              
              <label for="ch2">24 hours</label>
              <input class='radiocheck' name="rb" type="radio" id="ch2" value="day">
              
              <label for="ch3">5 mins</label>
              <input class='radiocheck' name="rb" type="radio" id="ch3" value="min">
              
          </form>

          <br>
          
          <div id='outbox'>
              <p class='out'></p>
          </div>
          
      </div>

      <div class='content'>
          <div id='ccontainer' class="link1">
              <h1 style="color:rgb(122, 20, 255);" >
                  The s.l-m (slim) api!
              </h1>
              <br><p><span>
              This is a simple api that allows you to shorten your links and store plaintext data similar to pastebin. This originally was a small project I wrote up on and off over a couple weeks while learning full stack web development. I returned to it to rewrite the backend into a more robust and scalable api using Redis and the V langage.
              <br><br>
              It's a very simple service by design, this is just a frontend for the underlying api. Only necessary data is stored, dont believe me? <b><a href="https://github.com/l1mey112/shortener-web-v" target="_blank">Full Source Code</a></b>
              <br><br>
              <b><span style="color:rgb(232, 168, 66);">
              Clicking on the square below switches between <span style="color:rgb(199, 149, 207);">short links and plaintext mode</span>. The return link is automatically copied into the clipboard.
              </span></b>
              <br><br>
              <b><span style="color:rgb(66, 213, 232);">
                The <span style="color:rgb(199, 149, 207);">/api/b</span> route is a new addition for advanced users. It allows you to store binary data in the database with a fixed 48 hour expiry. More information in the docs.
              </span></b>
            </span>
              <br>
              <br>
              <span style="color:rgb(255, 72, 209);">I hope you appreciate it! - <b>l-m</b></span>
              <br>
              <b><a href="https://blog.l-m.dev/API-DOCS-for-s-l-m-dev-4abb3b502bf34a2ebbb5261b8d4a36d4" target="_blank">API docs here</a></b>
              
              </p>
          </div>

          <div id='ccontainer' style="width: 60vw;" class="link2">
            <h1 style="color:rgb(122, 20, 255);" >
                Plaintext mode.
            </h1>
            <br>
            <form id="plain-entry">
              <textarea style="overflow: hidden; overflow-wrap: break-word; height: 300px;" placeholder="Shift-Ctrl-Enter to submit!..." autofocus="" spellcheck="false" autocomplete="off" name="txt" id="text-input"></textarea>
            </form>
          </div>
      </div>

  </main>

  <button id="butt" class="tack-bottom wrap"></button>

  <p class="bottom">l-m.dev 2022</p>

  </body>
</html>
